@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jost:ital,wght@0,100..900;1,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ultra&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

body {
    font-family: Roboto;
    background-color: black;
}
.wrapper {
    width: 1440px;
    margin: 0 auto;
    background-color: #1C1C1C;
    color: white;
}
.container{
    width: 1143px;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header ul {
    list-style: none;
    display: flex;
    gap: 40px;
}
button {
    width: 165px;
    height: 49px;
    border-radius: 5px;
    background-color: #F6762C;
    color: white;
    border: none;
}