@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jost:ital,wght@0,100..900;1,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ultra&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: white;
}
body {
    font-family: Roboto;
    background-color: black;
}
.wrapper {
    width: 1440px;
    margin: 0 auto;
    background-color: #1C1C1C;
    color: white;
}
.container{
    width: 1143px;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header ul {
    list-style: none;
    display: flex;
    gap: 40px;
}
button {
    width: 165px;
    height: 49px;
    border-radius: 5px;
    background-color: #F6762C;
    color: white;
    border: none;
}
.banner{
    width: 1440px;
    height: 720px;
    position: relative;
}
.banner img {
    width: 1440px;
    height: 720px;
}
.text {
    position: absolute;
    top: 160px;
    left: 160px;
}
.text h1 {
    font-size: 57px;
    font-weight: 500;
}
.text p {
    font-size: 18px;
    font-weight: 400;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
}
.card{
    width: 262px;
    height: 323px;
    background-color: #312F30;
    border-radius: 10px;
    text-align: center;

}
.card:hover {
    margin-top: 5px;
    width: 270px;
    transition: 1s;
}
.card img {
    width: 262px;
    height: 176px;
}    
.card h4 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
}
.card p {
   font-size: 16px;
   font-weight: 400;
   margin-top: 15px;
}


.king{
   width: 1440px;
   background-color: #312F30;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 100px;
   gap: 100px;
}
.king img {
   width: 500px;
   height: 450px;
}
.king-text h3 {
  font-size: 44px;
  font-weight: 500;
}
.king-text p {
    font-size: 16px;
    font-weight: 400;
}
.king-text span {
    font-size: 20px;
    font-weight: 500;
    color: #F6762C;
}

.king-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
  
.down {
    height: 170px;
    background-color: #312F30;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 381px;
}
footer p {
    font-size: 16px;
    font-weight: 500;
}
footer ul li {
    font-size: 12px;
    font-weight: 400;
    color: #ccc;
    list-style: none;
    margin-top: 10px;
}